{% extends "base.html" %}

{% block content %}
	<h2>Cliëntgegevens van {{ subject.voorletters }} {{ subject.tussenvoegsels }} {{ subject.achternaam }}</h2>
	<table>
		<tr>
			<th>Woonadres</th>
			<th></th>
		</tr>
		<tr>
			<td>Straat</td>
			<td>{{ subject.woonadres_straatnaam }} {{ subject.woonadres_huisnummer }} {{ subject.woonadres_huisnummer_toevoeging }}
			</td>
		</tr>
		<tr>
			<td>Postcode en woonplaats</td>
			<td>{{ subject.woonadres_postcode|upper }} {{ subject.woonadres_woonplaats|upper }}
			</td>
		</tr>
	</table>
{% endblock content %}