{% extends "base.html" %}

{% load subjecten_extras %}

{% block content %}
	<h2>Lijst van cliënten</h2>
	<ul class="commandmenu">
		<li>Acties:</li>
		<li><a href="/subjecten/new/">Cliënt opvoeren</a></li>
	</ul>
	<table>
		<tr>
			<th>Naam</th>
			<th>Burgerservicenummer</th>
			<th>Postcode</th>
			<th>Woonplaats</th>
			<th>Aantal zaken</th>
		</tr>
		{% for subject in subject_list %}
		<tr>
			<td><a href="/subjecten/{{ subject.id }}/">{{ subject.voorletters }} {{ subject.tussenvoegsels }} {{ subject.achternaam }}</a> ({{ subject.geboortedatum|leeftijd }} jaar)</td>
			<td>{{ subject.bsn}}</td>
			<td>{{ subject.woonadres_postcode }}</td>
			<td>{{ subject.woonadres_woonplaats|upper }}</td>
			<td><a href="/subjecten/{{ subject.id }}/zaken/">{{ subject.aantal_zaken }}</td>
		</tr>
		{% endfor %}
	</table>
	<div class="pagination">
	    <span class="step-links">
	        {% if page_obj.has_previous %}
	            <a href="?page={{ page_obj.previous_page_number }}">vorige</a>&nbsp;- 
	        {% endif %}

	        <span class="current">
	            Pagina {{ page_obj.number }} van {{ paginator.num_pages }}
	        </span>

	        {% if page_obj.has_next %}
	            &nbsp;- <a href="?page={{ page_obj.next_page_number }}">volgende</a>
	        {% endif %}
	    </span>
	</div>
{% endblock content %}