{% extends "base.html" %}

{% block content %}
	<h2>Lijst van cliënten</h2>
	<ul class="commandmenu">
		<li>Acties:</li>
		<li><a href="/subjecten/new/">Cliënt opvoeren</a></li>
	</ul>
	<table>
		<tr>
			<th>Naam</th>
			<th>Woonplaats</th>
		</tr>
		{% for subject in subjecten %}
		<tr>
			<td><a href="/subjecten/{{ subject.id }}">{{ subject.voorletters }} {{ subject.tussenvoegsels }} {{ subject.achternaam }}</a></td>
			<td>{{ subject.woonadres_woonplaats|upper }}</td>
		</tr>
		{% endfor %}
	</table>
{% endblock content %}