{% extends "base.html" %}

{% block content %}
	<h2>Lijst van zaken</h2>
	<ul class="commandmenu">
		<li>Acties:</li>
		<li>-</li>
	</ul>
	<table>
		<tr>
			<th>Type zaak</th>
			<th>Startdatum</th>
			<th>Wijzigingsdatum</th>
			<th>Opmerking</th>
			<th>Cliënt</th>
		</tr>
		
		{% for zaak in zaak_list %}
		<tr>
			<td><a href="/zaken/{{ zaak.id }}/">{{ zaak.type_zaak }}</a></td>
			<td>{{ zaak.datum_start|date:"j F Y G:H" }}</td>
			<td>{{ zaak.datum_wijziging|date:"j F Y G:H" }}</td>
			<td>{{ zaak.opmerkingen }}</td>
			<td><a href="/subjecten/{{ zaak.subject.id }}/">{{ zaak.subject }}</a></td>
		</tr>
		{% endfor %}
	</table>
	<div class="pagination">
	    <span class="step-links">
	        {% if page_obj.has_previous %}
	            <a href="?page={{ page_obj.previous_page_number }}">vorige</a>&nbsp;- 
	        {% endif %}

	        <span class="current">
	            Pagina {{ page_obj.number }} van {{ paginator.num_pages }}
	        </span>

	        {% if page_obj.has_next %}
	            &nbsp;- <a href="?page={{ page_obj.next_page_number }}">volgende</a>
	        {% endif %}
	    </span>
	</div>
{% endblock content %}