<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html>
	<head>
		<title>Demo Django &amp; Compass</title>
		<link href="/static/css/djangodemo/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
		<link href="/static/css/djangodemo/stylesheets/print.css" media="print" rel="stylesheet" type="text/css">
		<!--[if lt IE 8]>
			<link href="/static/css/djangodemo/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css">
		<![endif]-->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
	</head>
	<body>
		<div id="header">
			<h1>Demo Django &amp; Compass</h1>
		</div>
		<div id="menu">
			<h2>Menu</h2>
			<ul>
				<li><a href="/subjecten">Cliënten</a></li>
			</ul>
		</div>
		<div id="content">
			{% block content %}
				<p>-</p>
			{% endblock %}
		</div>
		<div id="footer"> 
			<ul> 
				<li><a href="/">Home</a></li> 
				<li><a href="#">About</a></li> 
				<li><a href="#">Contact</a></li> 
				<li>&copy; 2010 - My Business</li> 
			</ul> 
		</div> 
	</body>
</html>